

.selected-date {
    margin: 0 auto;
}

.times button {
    display: block;
    background-color: #6f48eb;
    color: white;
    margin-top: 5px;
}


.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
    animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}


/* react calendar */

.react-calendar { 
    width: 700px;
    height: 470px;
    max-width: 100%;
    max-height: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 40px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
   }
   .react-calendar__navigation button {
    color: #10c051;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 0px;
   }
   .react-calendar__navigation{
    display: flex;
    height: 44px;
    margin-bottom: 1em;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }
   abbr[title] {
    text-decoration: none;
   }
   .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
   }
   .react-calendar__month-view__weekdays__weekday{
    padding: 0.5em;
   }
   .react-calendar__tile{
    padding: 23.5px;
    text-align: center;
    /* background: none; */
   }
   .react-calendar button{
    border:0;
   }
   .react-calendar__tile:disabled{
    background-color: white;
   }
   .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #10c051;
    border-radius: 6px;
   }
   .react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #10c051;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #10c051;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background: #10c051;
    border-radius: 6px;
    font-weight: bold;
    color: white;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #10c051;
    color: white;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
   }
   .react-calendar__tile--range {
    background: #f8f8fa;
    color: #10c051;
    border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: px;
    border-bottom-left-radius: 6px;
    background: #10c051;
    color: white;
   }
   .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #10c051;
    color: white;
   }



/* 3rd try */
table{
    border:1px solid black;
    border-radius: 25px;
    border-spacing: 15px;
    width: 400px;
    height: 700px;
    margin-top: 50px;
    overflow-y: scroll;
}
th{
    border-bottom: medium solid black;
} 

.tableScroll{
    height:270px;
    overflow: auto;
}

.container {  display: grid;
    grid-template-columns: 1fr 0.8fr 1.2fr;
    grid-template-rows: 1fr 1.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Avatar Name Journal"
      "Calendar Calendar Journal";
}
  
.Calendar { 
    grid-area: Calendar; 
    justify-self: center; 
    align-self: center;
}
  
.Journal { 
    grid-area: Journal;
    justify-self: stretch; 
    align-self: end;
}
  
.Avatar { 
    grid-area: Avatar;
    justify-self: center; 
    align-self: center;
    margin-top: 50px;
}
  
.Name { 
    grid-area: Name;
    justify-self: start; 
    align-self: center;
}

.Avatar img{
    height: 200px;
}

.textName{
    font-size: 30px ;
}
.text{
    font-size: x-large;
}

 table .setText{
    font-size: large;
}
.linkPlus{
    text-decoration: none;
    
}